.blog {
  padding: 150px 0px;
  background-color: #e8f2f1;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    background-image: url(../images/blog-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
}

.blog__inner {
  position: relative;
  z-index: 20;
}

.blog__header {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.blog__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog__item {
  flex: 0 1 32%;
  border-radius: 18px;
  padding: 50px 35px;
  border: 1px solid rgb(179, 190, 209);
  transition: all 0.5s;
}

.blog__item-subtitle {
  font-family: "FiraSans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.blog__item-subtitle--pink {
  color: $pink;
}

.blog__item-subtitle--green {
  color: $green;
}

.blog__item-subtitle--yellow {
  color: $yellow;
}

.blog__item-title {
  font-family: "FiraSans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  max-height: 90px;
  height: 100%;
  color: #000;
}

.blog__item-text {
  max-height: 231px;
  height: 100%;
  overflow-y: hidden;
}

.blog__item-bottom {
  flex-wrap: wrap;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__item-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 45px;
  height: 45px;
  img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.blog__item-author {
  display: flex;
  align-items: center;
  span {
    max-width: 142px;
    padding-left: 8px;
    font-family: "FiraSans", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 21px;
  }
}

.blog__item-likes {
  color: #adb0ba;
  font-size: 18px;
  padding-left: 25px;
  position: relative;
  &::before {
    position: absolute;
    left: 0;
  }
}

@media (min-width: 990px) {
  .blog__item:hover {
    background-color: #fff;
    border-color: #fff;
  }
}

@media (max-width: 1200px) {
  .blog {
    padding: 100px 0;
  }
  .blog__item {
    padding: 24px 23px 50px;
  }
  .blog__item-title {
    font-size: 22px;
    line-height: 28px;
    max-height: 92px;
  }
  .blog__item-text {
    line-height: 30px;
  }
  .blog__item-author span {
    padding-left: 6px;
    font-size: 16px;
  }
}

@media (max-width: 1020px) {
  .blog__list {
    flex-direction: column;
  }
  .blog__item {
    margin-bottom: 20px;
  }
  .blog__item {
    padding: 24px 23px 24px;
  }
}

@media (max-width: 650px) {
  .blog__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .blog__link {
    margin-top: 10px;
  }

  .blog {
    padding-bottom: 80px;
  }
  .blog__item-author span {
    max-width: 250px;
  }
}

@media (max-width: 380px) {
  .blog {
    padding: 50px 0px;
  }
  .blog__item-title {
    font-size: 20px;
    line-height: 25px;
  }
  .blog__item-text {
    line-height: 28px;
    font-size: 20px;
  }
  .blog__item-author {
    margin-bottom: 5px;
  }
}
