.projects {
    padding: 185px 0px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url(../images/projects-bg.png);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
  
  .projects__title {
    text-align: center;
    margin: 0px auto 107px;
  }
  
  .projects__item {
    padding-top: 55px;
    min-height: 480px;
  
    & + & {
      margin-top: 78px;
    }
  }
  
  .projects__item-descr {
    max-width: 50%;
    text-align: left;
    margin-left: auto;
  }
  
  .projects__item-subtitle {
    font-family: "FiraSans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 3px;
  }
  
  .projects__item-title {
    font-family: "FiraSans", sans-serif;
    font-weight: 700;
    color: #000;
    font-size: 42px;
    line-height: 54px;
    margin-bottom: 20px;
  }
  
  .projects__item-text {
    margin-bottom: 48px;
  }
  
  .projects__item-link {
    padding: 12px 36px;
    display: inline-block;
  }
  
  .projects__item--1 {
    background: url(../images/projects-1.png) left no-repeat;
    .projects__item-subtitle {
      color: $pink;
    }
  }
  
  .projects__item--2 {
    background: url(../images/projects-2.png) right no-repeat;
    .projects__item-subtitle {
      color: $green;
    }
  }
  
  .projects__item--3 {
    background: url(../images/projects-3.png) left no-repeat;
    .projects__item-subtitle {
      color: $yellow;
    }
  }
  
  .projects__item--left {
    .projects__item-descr {
      margin-left: unset;
      margin-right: auto;
    }
  }
  